# Compiled binaries
*.exe
*.o
*.a
*.exe~
*.dll
*.so
*.dylib

# Package archives
*.zip
*.tar.gz

# Test output
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build directories
/bin
/pkg

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env